name: build-linux-amd64

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Download dependencies
        run: go mod download

      - name: Build static binary (linux/amd64)
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: amd64
        run: |
          go build \
            -trimpath \
            -ldflags "-s -w" \
            -o app \
            main.go

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-linux-amd64
          path: app
